# Ignore TAC output files
*.tac

# Ignore error log files
*.errors

# Ignore compiled parser files
src/parser
src/parser.tab.c
src/parser.tab.h
src/lex.yy.c

# Ignore object files
*.o

# Ignore other build artifacts
*.out
*.exe


